@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
/* Fuente para titulos : Bebas Neue --> font-family: 'Bebas Neue', cursive;
    Fuente para textos : Montserrat --> font-family: 'Montserrat', sans-serif;
*/
/*@import 'components/nav.scss';*/
#filosofia {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#filosofia .descripcion {
  width: 24rem;
}
#filosofia .descripcion p {
  width: 100%;
  height: 100%;
}

#filosofia div img {
  width: 80%;
}

@media (max-width: 375px) {
  #filosofia {
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 768px) {
  #filosofia {
    padding: 0;
    margin: 0;
  }
}
#servicios #titulo-servicios h3 {
  color: #E5E5E5;
}

.descripcion {
  margin: 3.4rem;
  width: auto;
}

#subtitulos {
  margin: 0;
}
#subtitulos .subtitulo {
  font-family: "Montserrat", "sans-serif";
  font-weight: 600;
  color: #01FFBB;
  margin-left: 0;
}

.servicios {
  display: flex;
  flex: 35% 35%;
  gap: 30%;
  align-items: center;
}

.grid-iconos {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 30% 30%;
  gap: 2rem;
}

.grid-iconos img {
  transition: 0.6s linear;
  width: 4rem;
}

.grid-iconos img:hover {
  transform: rotateZ(360deg) scale(1.3);
  cursor: pointer;
}

@media (max-width: 768px) {
  #servicios {
    padding: 0;
    margin: 0;
  }
  #servicios p {
    margin: 10%;
  }
  #servicios .servicios {
    display: block;
  }
  #servicios .servicios #subtitulos {
    display: inline-block;
    flex-wrap: wrap;
    margin: 0;
    gap: 10%;
  }
}
.grid-iconos {
  display: none;
}

@media (max-width: 1024px) {
  .grid-iconos {
    margin: 0;
  }
}
@media (min-width: 500px) {
  .grid-iconos {
    display: grid;
    margin: 10% 15%;
  }
}
#tarjetas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

#tarjetas .tarjeta {
  box-shadow: 0 0 2rem #262626;
}
#tarjetas .tarjeta h4 {
  color: #01FFBB;
  margin: 0.75rem;
  font-family: "Bebas Neue", "cursive";
  font-weight: 400;
  font-size: 1.25rem;
}

#tarjetas .tarjeta p {
  margin: 0.75rem;
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 1.06rem;
  text-shadow: none;
}

.tarjeta {
  width: 15.2rem;
  height: 16.4rem;
  border-radius: 1rem;
  border-bottom: #01FFBB 1.2rem solid;
  background-color: #262626;
  transition: 0.5s;
}

.icono-tarjeta {
  background-color: #00FFBB80;
  border-radius: 3rem;
  padding: 0.2rem;
  margin: 0.75rem;
  size: 4rem;
}

#tarjetas .tarjeta:hover {
  background-color: #01FFBB;
  border-bottom: #262626 1.2rem solid;
  transform: scale(1.3);
  cursor: pointer;
}
#tarjetas .tarjeta:hover .titulo_tarjeta {
  color: #000000;
}
#tarjetas .tarjeta:hover p {
  color: #000000;
}

#confianza > p,
#confianza h2 {
  text-align: center;
  align-self: center;
}

#confianza-1,
#confianza-2 {
  display: grid;
  grid-template-columns: 22% 22% 22%;
  gap: 17%;
}

#confianza-2 {
  grid-template-rows: 10% 10%;
}

.tarjeta-t {
  width: 18rem;
  height: 15rem;
  margin: 0;
  text-align: center;
}
.tarjeta-t h2 {
  margin: 0;
  padding: 0;
}

.tarjeta-t p {
  margin: 0;
  padding: 0;
  width: 100%;
}

.tarjeta-t img {
  width: 2rem;
}

@media (max-width: 500px) {
  #confianza {
    justify-items: center;
  }
  #confianza #confianza-1,
#confianza #confianza-2 {
    display: block;
  }
}
@media (max-width: 1024px) {
  #confianza {
    align-items: center;
  }
  #confianza #confianza-1,
#confianza #confianza-2 {
    display: block;
  }
}
* {
  box-sizing: border-box;
}

body {
  background-color: black;
}
body main {
  align-items: center;
}
body main div,
body main section {
  margin: 3rem;
}

/*Colores generales*/
h2,
.subtitulo {
  text-shadow: 0 0 2rem #00FFBB80;
}

p {
  text-shadow: 0 0 0.25rem #262626;
}

p,
h2 {
  color: white;
  font-family: "Montserrat", "sans-serif";
}

h2 {
  font-family: "Bebas Neue", "cursive";
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 2.9rem;
  color: #01FFBB;
}

h3 {
  color: #01FFBB;
  font-family: "Bebas Neue", "cursive";
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }
}
#imagen-main {
  text-align: center;
}
#imagen-main img {
  width: 40%;
}

/*# sourceMappingURL=style.css.map */
