@import '../var/colores.scss';
body {
    background-color: $negro;
}
.contacto__header{
    font-family: $fuenteTitulo;
    
    h3{
        color: $blanco;
        font-size: 3rem;
    }
    p {
        color: $blanco;
        font-size: 2.5rem;
    }    
}
.contacto { // contenedor principal
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    color: $blanco;
    // iconos y texto
    .contacto__iconos img {
        background-color: $verde;
        border-radius: 50%;
        width: 44px;
        padding: .5rem;
    }
    .contacto__iconos--active p {
        font-family: $fuenteTitulo;
        font-size: 1.2rem;
        padding: .5rem;
    }
    .contacto__iconos--active {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
    }
}
// form styles
.form {
    .form__field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1.5rem;
        input {
            font-family: 'Bebas Neue', cursive;
            line-height: 31px;
            background-color: $negro;
            border: 0;
            outline: none;
            color: $blanco;
            border-bottom: 5px solid $verde;
            width: 100%;
            font-size: 1.5rem;
            padding: .5rem;
        }
        input::placeholder {
            font-weight: bold;
            color: $blanco;
            font-size: 1.5rem;
        }
        textarea::placeholder {
            font-weight: bold;
            color: $blanco;
            font-size: 1.5rem;
            outline: none;
        }
        textarea{
            font-family: 'Bebas Neue', cursive;
            font-size: 1.5rem;
            background-color: $negro;
            color: $blanco;
            border: 5px solid $verde;
            padding: .5rem;
            outline: none;
        }
        .boton {
            font-size: 1rem;
            color: $blanco;
            padding: 1rem;
            background-color: $negro;
            border: 4px solid $verde;
            cursor: pointer;
        }
        .boton:hover {
            
        }
        @media ( max-width: 480px) { 
            input,textarea {
                width: 300px;
            }
        }
    }
}