#filosofia{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .descripcion{
        width: 24rem;
        p{
            width: 24rem;
            height: 15rem;
        }
    }
}

#filosofia{div{ img{
            width: 22rem;   
            height: 20rem;
        }}}