#filosofia {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .descripcion {
        width: 24rem;

        p {
            width: 100%;
            height: 100%;
        }
    }
}

#filosofia {
    div {
        img {
            width: 80%;

        }
    }
}

//responsive
@media (max-width: 375px) {
    #filosofia {

        padding: 0;
        margin: 0;

    }

}

@media (max-width: 768px) {
    #filosofia {

        padding: 0;
        margin: 0;

    }

}