@import '../var/colores.scss';
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $negro;
    color: $blanco;
    font-family: $fuenteTexto;
    width: 100%;
    padding: 1rem;
    p {
        font-size: 1rem;
        font-weight: bold;
    }
    .footer-img {
        img {
            width: 70px;
        }
    }
    // @media (min-width: 640px) { 
    //     flex-direction: row;
    //     justify-content: space-around;
    //     align-items: center;
    // }
}

