@import '../var/colores.scss';
.marcas{
    color: $blanco;
    font-size: 2rem;
    font-family: $fuenteTitulo;
    .marcas-icons {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .marcas-icons img {
        width: 200px;
    }
}