#confianza>p,
#confianza h2 {
    text-align: center;
    align-self: center;
}

#confianza-1,
#confianza-2 {
    display: grid;
    grid-template-columns: 22% 22% 22%;
    gap: 17%;
}

#confianza-2 {
    grid-template-rows: 10% 10%;
}

.tarjeta-t {
    width: 18rem;
    height: 15rem;
    margin: 0;
    text-align: center;

    h2 {
        margin: 0;
        padding: 0;
    }
}

.tarjeta-t {
    p {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

.tarjeta-t {
    img {
        width: 2rem;
    }
}


//Responsive

@media(max-width:500px) {

    #confianza {
        justify-items: center;

        #confianza-1,
        #confianza-2 {
            display: block;
        }
    }

}

@media(max-width:1024px) {

    #confianza {
        align-items: center;

        #confianza-1,
        #confianza-2 {
            display: block;

        }
    }

}